snippet plugins
	[[plugins]]
	repo = '${0}'

snippet plugins2
	# ${0:$1} {{{2
	[[plugins]]
	repo = '${1}'

snippet hook_add
	hook_add = '''
		${0}
	'''

snippet hook_source
	hook_add = '''
		${0}
	'''

snippet hook_post_source
	hook_add = '''
		${0}
	'''

snippet hook_post_update
	hook_add = '''
		${0}
	'''

snippet hook_done_update
	hook_add = '''
		${0}
	'''
